SaisieHoraires/SaisieHorairesClient/Service References/SaisieHorairesServiceRef/SaisieHorairesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SaisieHorairesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SaisieHorairesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TimeEntryDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:decimal" />
      <xs:element minOccurs="0" name="StartTime" type="xs:decimal" />
      <xs:element minOccurs="0" name="TheDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryDataContract" nillable="true" type="tns:TimeEntryDataContract" />
  <xs:complexType name="ArrayOfTimeEntryDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntryDataContract" nillable="true" type="tns:TimeEntryDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntryDataContract" nillable="true" type="tns:ArrayOfTimeEntryDataContract" />
</xs:schema>